
<mat-toolbar style="height: 50px; background: coral ; background-size: cover; background-repeat: no-repeat; overflow: visible; display: flex; align-items: center;">
<mat-toolbar-row style=" display: flex;">
  <button mat-icon-button>
  <mat-icon>notifications</mat-icon>
  </button>
  <span style="flex: 1 1 auto;"></span>
  <button mat-icon-button class="example-icon" (click)="goToConfiguration()">
  <mat-icon>settings</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" [matMenuTriggerFor]="user">
  <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar-row>
</mat-toolbar>
<mat-menu #user="matMenu" xPosition="before" style="padding: 0 ;">
  <h4 style="display: flex; justify-content: center; align-items: center; color: coral">
    <p>{{userInfo.nickname}}</p>
  </h4>
 <div style="display: flex; justify-content: center; align-items: center; cursor: pointer;" (click)="logout()">
   <mat-icon>exit_to_app</mat-icon>
  <span>Logout</span>
</div>
</mat-menu>
